<%- include('./header.template.ejs'); -%>
<table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFFFFF" width="560" style="border-collapse: collapse; border-spacing: 0; padding: 0; width:inherit;max-width: 560px;" class="container">
  <tbody>
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;font-size: 24px; font-weight: bold; line-height: 130%;padding-top: 25px;color: #000000;font-family: sans-serif;" class="header">                
        Szanowny Kliencie,
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;font-size: 17px; font-weight: 400; line-height: 160%;padding-top: 25px;color: #000000;font-family: sans-serif;" class="paragraph">               
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ex libero, maximus sed nibh sed, laoreet congue nisl. Mauris placerat mi lorem, at mattis felis vulputate non.    
        <a href="<%=code%>"><%=code%></a>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;font-size: 17px; font-weight: 400; line-height: 160%;padding-top: 25px;color: #000000;font-family: sans-serif;" class="paragraph">                
        <strong>Pamiętaj!</strong>  <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ex libero, maximus sed nibh sed, laoreet congue nisl. Mauris placerat mi lorem, at mattis felis vulputate non.
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;padding-top: 25px;color: #000000;font-family: sans-serif;" class="paragraph">                  
        Pozdrawiamy<br>                
        Biuro Obsługi Klienta Company<br/> 
        111 111 111 <br/>
        <a href="mailto:info@lajtmobile.pl">info@company.pl</a>
        <br/><br/>
      </td>
    </tr>
  </tbody>
</table>
<%- include('./footer.template.ejs'); -%>